.contentContainer {
    background-color: green;
    color: white;
    width: 80%;
    position: relative;
    left: 20%;
    top: 100px;
    background: url('./img/soccer-field.jpg') repeat;
    height: 1000px;
}

.contentText {
    background-color: #1e2431;
    padding: 20px;
}